table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

div {
  margin: 1rem;
}

select {
  min-height: 10rem;
}

h1{
  text-align: center;
}
h3{
  text-align: center;
}
h5{
  text-align: center;
}

.MateriasContainer{
  display: flex;
  flex-direction: column;
}

.alert{
  color: red;
}

.buttons-div{
  padding-top: 1rem;
  margin: auto;
}
